/* --- 全体の調整 --- */
body {
	width : 320px;
}
div.hidden-div {
	display : none;
}
div.visible {
	display : block;
	margin  : 1rem 0px;
}


/* --- 各フォームのスタイル --- */
select {
	width   : 100%;
	padding : 0.1rem;
}
button {
	display     : block;
	margin      : 0.5rem auto;
	user-select : none;
}
